.search-box {
  height: 50px;
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
}
.search-box .search-list {
  overflow: hidden;
  line-height: 40px;
}
.search-box .search-list .title {
  color: #666;
  float: left;
  font-size: 14px;
}
.search-box .search-list .el-input {
  float: left;
  width: calc(100% - 100px);
}
.container-box {
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
}
.container-box .container-box-top {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.container-box .el-table--border,
.container-box .el-table--group {
  border: none;
}
.container-box .pagination-box {
  padding: 10px;
  text-align: right;
}
